* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../images/lpBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: #ffffff;
}

.frame {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.title {
  width: 93%;
}

.container1 {
  margin-top: 7%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  align-content: center;
}

.box2 {
  padding-left: 10%;
  align-content: center;
  width: 90%;
}

.chamada {
  opacity: 1;
  transition: opacity 1s;
}

.container1 span {
  color: #ffd058;
}

.container3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

.valor {
  font-size: 40px;
}

.valor span {
  color: #ffd058;
}

.box3 {
  align-content: center;
  margin-right: 4%;
}

.btnAction {
  border: 1px solid #146ab7;
  width: 30%;
}
.btnAction:hover {
  background-color: #146ab7;
  color: #ffffff;
}

.container4 p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26px;
}

.container4 p span {
  color: #ffd058;
}

/* Form*/
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 5px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #146ab7;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #146ab7;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .container1 {
    width: 110%;
  }
  .container2 {
    width: 110%;
  }
  .container3 {
    width: 110%;
  }
  .container4 {
    width: 110%;
  }
}

@media (max-width: 767px) {
  .frame {
    border-radius: 0%;
  }

  .container1 {
    padding-top: 10px;
    font-size: 16px;
  }

  .img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .valor {
    font-size: 16px;
  }

  .btnAction {
    border: 1px solid #146ab7;
    width: 35%;
  }
  .btnAction:hover {
    background-color: #146ab7;
    color: #ffffff;
  }

  .container4 p {
    text-align: center;
    font-size: 16px;
  }

  .form__field {
    font-size: 16px;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
  }

  .form__label {
    font-size: 16px;
  }

  .form__field:focus ~ .form__label {
    font-size: 16px;
  }
}
